body{
    margin: 0px;
}
.chatroom-container{
    display: none;
}
#chatbox1{
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: blanchedalmond;
    
}
#chatbox2{
    /* border: 1px solid white; */
    padding: 0px 20px 20px 20px;
}
#username{
    border-radius: 5px;
    padding: 5px;
    font-size: medium;
    border: 2px solid black;
}
#btn{
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
    color: white;
    background-color: black;
    font-size: medium;
}
.chatroom-header{
    font-size: 48px;
    color: white;
    background-color: black;
    padding: 10px;

}

#messages-container{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 85vh;
}
.message-sent{
    font-size: 24px;
    background-color: blanchedalmond;
    width: fit-content;
    padding: 10px;
    margin:10px;
    border-radius: 15px;
    border-bottom-right-radius: 2px
}
.message-received{
    font-size: 24px;
    align-self:flex-end;
    background-color: blanchedalmond;
    width: fit-content;
    padding: 10px;
    margin:10px;
    border-radius: 15px;
    border-bottom-right-radius: 2px
    
}
.typeBox{
    display: flex;
    justify-content: center;
    gap: 5px;
}
#message-input{
    border-radius: 5px;
    padding: 5px;
    font-size: large;
    border: 2px solid black;
}
#btn-send{
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
    color:black;
    background-color:blanchedalmond;
    font-size: large;

}